@model BuisnessLayer.User1
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-md">
    <br />


    <a href="@Url.Action("Login")" class="btn btn-success col-md-5" role="button">Login</a>
    <br />
    <br />
    <a href="@Url.Action("Register")" class="btn btn-success col-md-5" role="button">Register</a>
</div>